<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2024 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <infrangible_smtp>
            <general>
                <enable>0</enable>
            </general>
            <server>
                <enable>0</enable>
                <port>587</port>
                <ssl>tls</ssl>
                <connection_class>login</connection_class>
            </server>
            <server2>
                <enable>0</enable>
                <port>587</port>
                <ssl>tls</ssl>
                <connection_class>login</connection_class>
            </server2>
        </infrangible_smtp>
    </default>
</config>
